@import '_colours';

body {
    margin: 0;
    padding: 0;
}


.al-wrapper {
    color: $mainTextColour;
    background-color: $baseBackgroundColour;
    font-family: arial, sans-serif;
    border-top: 3px solid $headStripColour;
    -webkit-font-smoothing: antialiased;
}

