$baseBackgroundColour: #f4f4ee;
$mainTextColour: #585858;
$lightTextColour: #959591;
$headerTextColour: #323232;
$dividerColour: #dedede;
$headStripColour: #4BC6DF;
$navButtonTextColour: #FFFFFF;
$navButtonActiveBackgroundColour: #cac8b2;
$navButtonDisabledBackgroundColour: #edebe2;