@import '_colours';



.al-nav {
    position: relative;
    padding:10px 0 7px;
}

.al-nav-day-count{
    margin: 0;
    font-family:"Guardian Egyptian Headline", Georgia;
    font-weight:bold;
    color:#333;
    font-size:16px
}

.al-nav-date-value{
    font-family: "Guardian Agate Sans", Arial;
    margin:1px 0 0 0;
    font-size:13px;
    line-height:16px;
    color: #959595;
}

.al-nav-button {
    position: absolute;
    top: 10px;
    cursor:pointer;
    width: 30px;
    height: 30px;
    top:10px;
    bottom:10px;
}

.al-nav-button-prev{
    background: url(../imgs/arrowLeftEnabled.png);
}
.al-nav-button-prev.disabled{
    background: url(../imgs/arrowLeftDisabled.png);
    cursor:default;
}
.al-nav-button-next{
    background: url(../imgs/arrowRightEnabled.png);
}
.al-nav-button-next.disabled {
    background: url(../imgs/arrowRightDisabled.png);
    cursor: default;
}

.al-nav-button-prev {
    left: 10px;
}

.al-nav-button-next {
    right: 10px;
}

.al-nav-dates {
    text-align: center;
}
